<main>
    <h1>
      $if(single)$
        $translate("POSTS_IN_LANGUAGE_IN_CATEGORY", title)$
      $else$
        $translate("POSTS_IN_EVERY_LANGUAGES_IN_CATEGORY", title)$
      $endif$
    </h1>
    <aside>
        <a href="$switch$">
            $if(single)$
                $translate("POSTS_IN_EVERY_LANGUAGES")$
            $else$
                $translate("POSTS_IN_LANGUAGE_ONLY")$
            $endif$
        </a>
    </aside>
    <section>
        $partial("templates/post-list.html")$
    </section>
</main>
