<form id="form">
  <label for="email">$translate("E-Mail")$ :</label> 
  <input type="email" id="email" name="email" placeholder="$translate("address@e.mail")$" required> 

  <br>
  
  <label for="message">$translate("Message")$ :</label> 
  <br>
  <textarea id="message" name="message" required></textarea>

  <br>

  <input type="button" value="$translate("Send")$" onclick="sendEmail()">
</form>

<script>
function sendEmail() {
    var form = document.getElementById("form");

    var email = form.elements.namedItem("email");
    if (!email.validity.valid) { return; }

    var message = form.elements.namedItem("message");
    if (!message.validity.valid) { return; }

    Email.send({
        SecureToken : "$translate("SECURE_TOKEN")$",
        To : "$translate("FEED_AUTHOR_EMAIL")$",
        From : email.value,
        Subject : "$translate("EMail from SWI18NG")$",
        Body : message.value
    }).then(
        message => alert(message)
    );
}
</script>
