<header>
    <div class="logo">
        <a href="/$language$/">$translate("SITE_TITLE")$</a>
    </div>
    <nav>
        <a href="/$language$/">$translate("NAV_HOME")$</a>
        <a href="/$language$/$translate("NAV_ABOUT")$">$translate("NAV_ABOUT")$</a>
        <a href="/$language$/$translate("NAV_ARCHIVE")$">$translate("NAV_ARCHIVE")$</a>
        <a href="/fr">FR</a>
        <a href="/en">EN</a>
    </nav>
</header>
