<ul>
    $for(posts)$
        <li>
            <header>
            <a href="$url$">$title$</a> 
            $if(date)$
            $translate("posted on")$ $date$
            $endif$

            $if(tags)$
            $translate("about")$ $tags$
            $endif$

            $if(category)$
            $translate("in")$ $category$
            $endif$
            </header>

            $if(teaser)$
            <main>
            $teaser$
            </main>

            <footer>
            <a href="$url$">$translate("Read more")$</a>
            </footer>
            $endif$
        </li>
    $endfor$
</ul>
