<article>
    <header>
        $translate("Posted on")$ $date$
        $if(author)$
            $translate("by")$ $author$
        $endif$

        $if(tags)$
        $translate("about")$ $tags$
        $endif$

        $if(category)$
        $translate("in")$ $category$
        $endif$
    </header>
    <main>
        $body$
    </main>
</article>
